<div class="card p-1 mx-3">
  <div class="card-body justify-content-center text-center">
    <div class="card-title text-center mb-0">
      <%= link_to "#{food_order.restaurant.name}", food_order %>
    </div>

    <div class="text-center mb-1">
      <small class="card-subtitle text-muted">
        <%= image_tag  'svg/person.svg', alt: 'person icon', class: 'icon' %>
        <%= food_order.user.name %>
      </small>
    </div>
        
    <% if current_user == food_order.user %>
      <%= link_to  image_tag('svg/ban.svg', alt: 'edit icon', class: 'icon') + ' Cancel',
                                                    food_order, method: :delete,
                                                                   remote: true,
                                                 data: { confirm: 'You sure?' },
                             class: 'btn btn-danger btn-sm font-weight-light' %>
    <% end %>

  </div>
</div>