<% if @food_order.owner? current_user %>
  <%= form_for(@food_order) do |f| %>
    <%= f.submit 'Checkout', class: 'btn btn-warning mb-3' %>
  <% end %>
<% end %>

<ul class="list-group col-md-3">
  <% @cart.sort.each do |cart_item| %>
    <li class="list-group-item">
      <%= cart_item.food_item.name %><br />
      <%= "Price: #{number_to_currency(cart_item.food_item.price, unit: '₱') } x " +
                    "#{cart_item.quantity} = " + number_to_currency(cart_item.total_price, unit: '₱') %>
      <!-- cart_item is an OrderItem object -->
      <%= form_for(cart_item) do |f| %>
        <!-- pass the food item to the next page  -->
        <%= hidden_field_tag :food_item_id, cart_item.food_item.id %>
        <div class="form-group">
          <%= f.label :quantity %>
          <%= f.number_field :quantity, value: cart_item.quantity, min: 1,
                                                          class: 'form-control' %>
        </div>
        <%= f.submit "Update", class: 'btn btn-primary' %>
        <%= link_to  'Remove', cart_item, method: :delete,
                                          data: { confirm: 'Remove from cart?'},
                                          class: 'btn btn-danger' %> 
      <% end %>
    </li>
  <% end %>
</ul>