<% @restaurants_list.each do |restaurant| %>
  <div class="card p-1 mx-3">
    <div class="card-body justify-content-center">
        <div class="card-title text-center mb-0">
          <%= restaurant.name %>
        </div>
        <% if any_open? restaurant %>
        <div class="text-center">
          <small class="card-subtitle text-muted">Open order available</small>
        </div>
        <% else %>
          <%= form_for(@food_order, html: { class: 'text-center'}) do |f| %>
            <%= hidden_field_tag :restaurant_id, restaurant.id%>
            <%= f.submit "Place order", class: 'btn btn-link btn-sm' %>
          <% end %>
        <% end %>
    </div>
  </div>
<% end %>