<section class="menu">
  <h3>Menu</h3>
  <ul class="list-unstyled">
    <%= render 'shared/menu' %>
  </ul>
</section>
  
<section class="order-cart">
  <div class="cart mb-5">
    <h3 class="mb-3">Order cart</h3>
    <%= @cart.empty? ? ('No orders added yet.') : (render 'order_cart') %>
  </div>
</section>

