<div>
  <% (collect_users_from @order_items).each do |user| %>
    <p class="lead mb-0">
      Ordered by: <%= name_of user %>
    </p>
    <p class="m-0">
      <ul>
        <% order_items_of(user, @food_order).each do |item| %>
          <li>
            <%= item.food_item.name %> <%= number_to_currency(item.food_item.price, unit: '₱') %> x <%= item.quantity %><br />
            Total: <%= number_to_currency(item.total_price, unit: '₱') %>
          </li>
        <% end %>
      </ul>
      <span class="per-user-order-col bottom-shadow">Total for order: <%= number_to_currency(order_total(user, @food_order), unit: '₱') %></span>
    </p>
  <% end %>
</div>
