$("#flash").html("<%= j render 'shared/flash' %>")
$("#open_orders").html("<%= j @open_orders.empty? ? ('No open orders') : (render @open_orders) %>")
$("#restaurant_cards").html("<%= j render('food_orders/restaurants_cards') %>")