<% provide(:title, 'Orders') %>
<section class="new-orders">
  <div class="ml-3 mt-3">
    <h2>New orders</h1>
    <p class="lead">Choose a restaurant</p>
  </div>

  <div class="row mx-3 pb-3" id="restaurant_cards">
    <%= render 'restaurants_cards' %>
  </div>
</section>

<section class="open-orders">
  <h2 class="pt-3 ml-3 mb-3">Open orders</h1>
  <div class="row mx-3 pb-3" id="open_orders">
    <%= @open_orders.empty? ? ('No open orders.') : (render @open_orders) %>
  </div>
</section>