<%= provide(:title, 'Order') %>
<div class="bottom-shadow food-order-header pl-3 pt-3 mb-3">
  <h1 class="display-4"><%= @food_order.restaurant.name %></h1>
  <p class="lead mb-1">Order status: <%= @food_order.order_status.capitalize %></p>
  <%= link_to  'Back', new_food_order_path, class: 'btn btn-link' %>
  <%= link_to  'View Order Summary', summary_food_order_path,
                      class: 'btn btn-link' unless @food_order.order_items.empty? %>
</div>

<div class="mx-auto">
  <%= render 'show_open_order' %>
</div>
