<%= provide(:title, 'Summary' ) %>
<div class="text-center mb-3 mt-3">
  <h1 class="display-4">Order Summary</h1>
  <% if @food_order.closed? %>
    <p class="lead">Order status: Closed</p>
    <%= link_to  "Back", new_food_order_path %>
  <% else %>
    <%= link_to  'Back', food_order_path(@food_order) %>
  <% end %>
</div>

<div class="row summary justify-content-center mb-3 mx-auto">
  <div class="order-sum-col col-md-4 text-right">
    <p class="lead">Items ordered by all</p>
    <ul class="list-unstyled">
      <% @orders.each do |id, quantity| %>
        <li class="list-item"><%= summarize(id, quantity) %></li>
      <% end %>
    </ul>
    <p class="lead text-info">Subtotal: <%= number_to_currency(@order_total, unit: '₱') %></p>
  </div>
  <div class="col-md-4">
    <%= render 'show_closed_order' %>
  </div>
</div>
