<h2 class="display-4 text-center mt-3">Sign up</h2>

<div class="px-3">
  <%= form_for(resource, as: resource_name, 
                         url: registration_path(resource_name),
                         html: { class: "sign-up-form p-3 col-md-4 mx-auto mb-3" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control",
                                               placeholder: "Name" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off",
                                      placeholder: "Password",
                                      class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",
                                                   placeholder: "Confirm password",
                                                   class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary mb-1" %>
    </div>
  <% end %>
</div>

