<nav class="pl-2 mt-1 mb-2">
  <div class="nav nav-pills" id="pills-tab" role="tablist">
    <a class="nav-item nav-link active" id="pills-food-tab" data-toggle="pill" role="tab" href="#nav-food">Food</a>
    <a class="nav-item nav-link" id="pills-drinks-tab" data-toggle="pill" role="tab" href="#nav-drinks">Drinks</a>
    <a class="nav-item nav-link" id="pills-desserts-tab" data-toggle="pill" role="tab" href="#nav-desserts">Desserts</a>
  </div>
</nav>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="nav-food" role="tabpanel">
    <div class="d-flex flex-wrap" id="food-item">
      <%= @food.empty? ? ('No food available') : (render @food) %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-drinks" role="tabpanel">
    <div class="d-flex flex-wrap" id="drinks-item">
      <%= @drinks.empty? ? ('No drinks available.') : (render @drinks) %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-desserts" role="tabpanel">
    <div class="d-flex flex-wrap" id="desserts-item">
      <%= @desserts.empty? ? ('No desserts available.') : (render @desserts) %>
    </div>
  </div>
</div>