<div class="menu-items px-2">
  <div class="menu-item bottom-shadow">
    <p class="lead mb-1">Food</p>
    <div class="row pl-3">
      <%= @food.empty? ? ('No food available') : (render @food) %>
    </div>
  </div>

  <div class="menu-item bottom-shadow">
    <p class="lead mb-1">Drinks</p>
    <div class="row pl-3">
      <%= @drinks.empty? ? ('No drinks available.') : (render @drinks) %>
    </div>
  </div>

  <div class="menu-item bottom-shadow">
    <p class="lead mb-1">Desserts</p>
    <div class="row pl-3">
      <%= @desserts.empty? ? ('No desserts available.') : (render @desserts) %>
    </div>
  </div>
</div>