<div class="row home-page full-height">
<% if user_signed_in? %>
  <div class="col-md-6 offset-md-3 mt-4 welcome">
    <h1 class="text-center">Welcome, <%= current_user.name %>!</h1>
    <h3 class="display-4 text-center">Create a new order</h3>
    <div class="row justify-content-center">
      <%= link_to  image_tag('svg/share-boxed.svg', alt: 'share-boxed icon',
      class: 'icon white') + ' Create order',  new_food_order_path, class: "btn btn-primary" %>
    </div>
  </div>
<% else %>
  <div class="col-md-6 offset-md-3 mt-4 welcome">
    <h1 class="display-1 d-none d-md-block text-center">Hello!</h1>
    <h1 class="display-4 d-block d-md-none text-center">Hello!</h1>
    <h3 class="lead text-center">Sign up to join.</h3>
    <div class="row justify-content-center">
      <%= link_to  "Sign up", new_user_registration_url, class: "btn btn-success" %>
    </div>
  </div>
<% end %>
</div>