<h2 class="display-4 text-center mt-5">Log in</h2>

<div class="row mx-auto px-3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                                  html: { class: "sign-in-form col-md-4 mx-auto" }) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "Email",
                                                          class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", 
                                placeholder: "Password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-check">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary mb-2" %>
    </div>
  New to the site? <%= render "devise/shared/links" %>
  <% end %>

</div>
