<%= form_for(@food_item, url: url, 
                         html: { class: 'col-md-4 mx-auto mb-5' } ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select(:category, options_for_select([['Food', "food"],
                                                ['Drinks', "drinks"],
                                                ['Desserts', "desserts"]],
                                                f.object.category),
                                                class: 'form-control') %>
  </div>

  <%= f.submit "Submit", class: 'btn btn-primary' %>
  <%= link_to  'Back', restaurant_path(@restaurant), class: 'btn btn-link ml-1' %>
<% end %>