<div class="card food-card mx-3">
  <div class="card-body">
    <h5 class="card-title mb-2 font-weight-light">
      <%= food_item.name %>
    </h5>
    <h6 class="card-subtitle mb-2">
      <%= number_to_currency(food_item.price, unit: '₱') %>
    </h6>
  </div>
  <div class="card-footer">
    <% if @editable %>
      <%= link_to  image_tag('svg/pencil.svg', alt: 'edit icon',
      class: 'icon'), edit_restaurant_food_item_path(@restaurant, food_item),
                             class: 'btn' %>
      <%= link_to  image_tag('svg/trash.svg', alt: 'delete icon',
      class: 'icon'), restaurant_food_item_path(@restaurant, food_item), 
                             method: :delete,
                             remote: true,
                             data: { confirm: 'You sure?' },
                             class: 'ml-2 btn' %>
    <% else %>
      <%= form_for(:order_items, url: order_items_path(id: @food_order.id)) do |f| %>
        <!-- pass the food item to the next page  -->
        <%= hidden_field_tag :food_item_id, food_item.id %>
        <div class="form-group mb-2">
          <%= f.label :quantity %>
          <div class="input-group input-group-sm">
            <div class="input-group-addon">
              <span class="input-group-text"> x </span>
            </div>
            <%= f.number_field :quantity, value: 1, min: 1, class: 'form-control' %>
          </div>
        </div>
        <%= f.submit "Add", class: 'btn btn-outline-success' %>
      <% end %>
    <% end %>
  </div>
</div>