$("#flash").html("<%= j render 'shared/flash' %>")
$("#food-item").html("<%= j @food.empty? ? ('No food available') : (render @food) %>")
$("#drinks-item").html("<%= j @drinks.empty? ? ('No drinks available.') : (render @drinks) %>")
$("#desserts-item").html("<%= j @desserts.empty? ? ('No desserts available.') : (render @desserts) %>")