<%= provide(:title, 'Edit menu') %>
<h1 class="display-4 text-center pt-3">Edit food item</h1>

<%= render partial: 'food_item_form', locals: { 
               url: restaurant_food_item_path(@restaurant, @food_item) } %>