<div class="text-center pt-4">
  <h1 class="display-4"><%= @restaurant.name %></h1>
  <p class="lead">Add a new menu item</p>
</div>

<%= render partial: 'food_item_form', locals: { url: restaurant_food_items_path } %>
 