<%= form_for(@restaurant, html: { class: "col-md-4 mx-auto mb-5" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :contact %>
    <%= f.text_field :contact, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  
  <%= link_to  'Back', restaurants_url, class: "ml-2" %>
<% end %>