<li class="list-group-item d-flex justify-content-between align-items-center">
  <%= link_to restaurant.name, restaurant %>
  <div>
    <%= link_to image_tag('svg/pencil.svg', alt: 'edit icon',
    class: 'icon'), edit_restaurant_path(restaurant), class: "btn btn-primary" %> 
    <%= link_to image_tag('svg/trash.svg', alt: 'delete icon',
    class: 'icon'), restaurant, method: :delete,
                                remote: true,
                                data: { confirm: "You sure?" },
                                class: "btn btn-danger" %>
  </div>
</li>