<% provide(:title, 'Restaurants') %>
<div class="text-center my-4">
  <h1 class="display-4">Restaurants</h1>
  <%= link_to  'Add new restaurant', new_restaurant_path, 
                                     class: "btn btn-primary btn-warning" %>

</div>
<ul class="list-group list-unstyled col-md-4 mx-auto mb-5" id="restaurants_list">
  <%= render @restaurants %>
</ul>