<%= provide(:title, 'Restaurant') %>
<div class="restaurant-header mx-2 mb-3 p-3">
  <h1 class="display-4"><%= @restaurant.name %></h1>
  <p class="lead mb-0">
    <%= image_tag  'svg/map-marker.svg', alt: 'address icon',
                                   class: 'icon food-item-icon' %>
    <%= @restaurant.address %>
  </p>
  <p class="lead mb-0">
    <%= image_tag  'svg/phone.svg', alt: 'phone icon',
                                   class: 'icon food-item-icon' %>
    <%= @restaurant.contact %>
  </p>
  <%= link_to  'Back', restaurants_url, class: 'btn btn-link' %>
</div>

<div class="text-left pl-4">
  <h2 class="font-weight-light d-none d-md-block">Menu</h2>
  <h4 class="d-block d-md-none">Menu</h4>
  <%= link_to image_tag('svg/plus.svg', alt: 'plus icon',
  class: 'icon') + " Add menu items", new_restaurant_food_item_path(@restaurant),
                                        class: "btn btn-outline-dark" %>
</div>

<section class="menu">
  <%= render 'shared/menu' %>
</section>

