// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 56px;
  margin-bottom: 60px;
}

.container-fluid {
  padding: 0;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.full-height {
  height: 100vh;
}

.navbar {
  box-shadow: 0 1px 2px #efefef;
}

.home-page {
  color: #f5f5f5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.7)), asset-url('home-bg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
}

.welcome {
  padding-top: 10%;
  text-shadow: 1px 1px black;
}

div#error_explanation {
  ul li {
    color: #dc3545 !important;
  }
}

footer {
  color: #868686;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding-top: 10px;
}

.card {
  width: 150px;
  margin-bottom: 10px;
}

.food-card {
  width: 270px;
  margin-bottom: 20px;
}

.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  padding-bottom: 3px;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

.menu-item {
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid black;
}

.bottom-shadow {
  box-shadow: 0 8px 6px -6px black;
}

.restaurant-header {
  border-bottom: 1px solid black;
}

.food-order-header {
  border-bottom: 1px solid black;
}

.order-sum-col {
  border-right: 1px solid black;
}

.per-user-order-col {
  border-bottom: 1px solid black;
}

.menu,
.order-cart {
  padding: 5px 15px;
}

.sign-in-form {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  padding: 20px;
}

.sign-up-form {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px; 
}