<nav class="navbar fixed-top navbar-expand-md bg-light navbar-light justify-content-end">
  <div class="container-fluid justify-content-end">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <ul class="navbar-nav text-center">
        <li class="nav-item"><%= link_to  'Home', root_url, class: "nav-link" %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to  'Orders', new_food_order_path, class: "nav-link" %></li>
        <% end %>
        <li class="nav-item"><%= link_to  'Restaurants', restaurants_path, class: "nav-link" %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to  'Sign out', destroy_user_session_path,
                                                      method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to  'Sign in', new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>