<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid mb-0" id="body">
      <%= render 'layouts/header' %>
      <div id="flash">
        <%= render 'shared/flash' %>
      </div>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
